{
    "city": "{{city}}",
    "email": "{{email}}",
    "firstName": "{{firstname}}",
    "paragraph": "{{paragraphs 1 1}}",
    "state": "{{state}}",
    "time_rfc2822": "{{time_rfc2822 0}}",
    "time_rfc3339": "{{time_rfc3339 0}}",
    "sentences": "{{sentences 2 4}}",
    "uuid": "{{uuid_v4}}",
    "words": "{{words 1 5}}",
}